version: '3.9'

services:
  database:
    image: 'mysql:${MYSQL_VERSION}'
    hostname: '${MYSQL_HOSTNAME}'
    container_name: mysql-server
    environment:
      MYSQL_DATABASE: '${MYSQL_DATABASE}'
      MYSQL_USER: '${MYSQL_USER}'
      MYSQL_PASSWORD: '${MYSQL_PASSWORD}'
      MYSQL_ROOT_PASSWORD: '${MYSQL_ROOT_PASSWORD}'
    volumes:
      - ./volumes/mysql:/docker-entrypoint-initdb.d
    networks:
      - tale
  cache:
    image: 'redis:${REDIS_VERSION}'
    hostname: '${REDIS_HOSTNAME}'
    container_name: redis-server
    networks:
      - tale
  server:
    build: .
    image: tale
    hostname: tale
    container_name: tale-server
    environment:
      SPRING_PROFILES_ACTIVE: '${TALE_SPRING_PROFILES_ACTIVE}'
      SERVER_PORT: '${TALE_SERVER_PORT}'
      MYSQL_HOSTNAME: '${MYSQL_HOSTNAME}'
      MYSQL_PORT: '${MYSQL_PORT}'
      MYSQL_DATABASE: '${MYSQL_DATABASE}'
      MYSQL_USERNAME: '${MYSQL_USER}'
      MYSQL_PASSWORD: '${MYSQL_PASSWORD}'
      REDIS_HOSTNAME: '${REDIS_HOSTNAME}'
      REDIS_PORT: '${REDIS_PORT}'
    expose:
      - '${TALE_SERVER_PORT}'
    ports:
      - '9000:${TALE_SERVER_PORT}'
    depends_on:
      - database
      - cache
    networks:
      - tale

networks:
  tale:
    driver: bridge
    external: false
