<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tale</title>
</head>
<body>

<h1>Login</h1>

<form action="/login" method="post">
    <div th:if="${param.error != null}">
        <p>Incorrect credentials</p>
    </div>
    <div>
        <label for="username">Username</label>
        <input id="username" name="username" type="text">
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" name="password" type="password">
    </div>
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    <button>Login</button>
</form>

</body>
</html>