<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tale</title>
</head>
<body>
<h1>Sign Up</h1>

<form action="/signup" method="post">
    <div>
        <label for="username">Username</label>
        <input id="username" name="username" type="text">
        <div th:if="${invalid_field_map?.get('username') != null}">
            <div th:each="msg: *{invalid_field_map.get('username').messages}">
                <p th:text="${msg}"></p>
            </div>
        </div>
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" name="password" type="password">
        <div th:if="${invalid_field_map?.get('password') != null}">
            <div th:each="msg: *{invalid_field_map.get('password').messages}">
                <p th:text="${msg}"></p>
            </div>
        </div>
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email" name="email" type="email">
        <div th:if="${invalid_field_map?.get('email') != null}">
            <div th:each="msg: *{invalid_field_map.get('email').messages}">
                <p th:text="${msg}"></p>
            </div>
        </div>
    </div>
    <div th:if="${error_message_list != null}">
        <div th:each="msg: *{error_message_list}">
            <p th:text="${msg}"></p>
        </div>
    </div>
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    <button>Sign up</button>
</form>
</body>
</html>